<?xml version="1.0" encoding="UTF-8"?>
<suite name="SoliumTestSuite" parallel="true">
    <test name="InputTest" parallel="false">
        <classes>
            <class name="InputTest"/>
        </classes>
    </test>
    <test name="StockInvestmentTest">
        <classes>
            <class name="StockInvestmentTest"/>
        </classes>
    </test>
    <test name="EmployeeTest">
        <classes>
            <class name="EmployeeTest"/>
        </classes>
    </test>
    <test name="EmployeesTest">
        <classes>
            <class name="EmployeesTest"/>
        </classes>
    </test>
</suite>